.tdContenidoEliminarAcademia {
    width: 100%;
}

.tdValorEliminar {
    width: 100%;
}

.tdbtnEliminar {
    text-align: right;
}

.fijadoEliminarAcademia {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 900px;
    height: 90px;
    top: 8%;
    left: 15%;
}

.tablaElimiarAcademia {
    border-collapse: collapse;
    width: 100%;
}

.trContentElimiarAcademia {
    border: black 5px solid;
}

.contenidoEliminarAcademia {
    width: 350px;
    height: 30px;
}

.cuerpoEliminarAcademia {
    top: 50%;
    left: 30%
}

.BusquedaEliminarAcademia {
    position: absolute;
    top: 10%;
    left: 5%
}

.contenidoBusquedaAcademia {
    width: 180px;
    height: 30px;
}

.contenidoBusquedaEncargado {
    width: 177px;
    height: 25px;
}

.buttonBuscar {
    top: 65%;
    background-color: #3399ff;
    left: 500px;
}

.buttonRegresar {
    top: 35%;
    background-color: #08c211;
    left: 85%;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}

.buttonEliminar {
    background-color: #cc1010;
    position: initial;
}

.rcorners2 {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 450px;
    height: 50px;
    top: 4%;
    left: 18%;
}

.subtitleEliminar {
    position: absolute;
    font-size: 150%;
    top: 10%;
    left: 25%
}

.title {
    position: absolute;
    top: -20%;
    left: 5%;
}

.rcornersEliminarAcademia {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 900px;
    height: 62%;
    top: 25%;
    left: 15%;
}

scroll-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.add {
    background-color: blueviolet;
    top: 35%;
    left: 65%;
}

.mod {
    background-color: black;
}

.cuerpoAgregarAcademia {
    position: absolute;
    top: 10%;
}

.contenido {
    width: 145px;
    height: 30px;
}

.dialogo {
    top: -20%;
    width: 28%;
    height: 30%;
}

.buttonCancelar {
    top: 80%;
    background-color: #cc1010;
}

.buttonRegistrar {
    top: 78%;
    background-color: #087ac2;
    left: 77%;
}

.subtitle {
    position: absolute;
    font-size: 150%;
    top: 5%;
}