.fijadoEliminar {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 1100px;
    height: 125px;
    top: 8%;
    left: 15%;
}

.BusquedaEliminar {
    position: absolute;
    top: 10%;
    left: 5%
}

.contenidoBusqueda {
    width: 180px;
    height: 30px;
}

.buttonBuscar {
    top: 65%;
    background-color: #3399ff;
    left: 500px;
}

.buttonLimpiar {
    top: 65%;
    background-color: #3399ff;
    left: 300px;
}

.button1Eliminar {
    top: 8%;
    background-color: #08c211;
    left: 90%;
}

.tablaElimiar {
    border-collapse: collapse;
}

.trContentElimiar {
    border: black 5px solid;
}

.imgEliminar {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 10px solid #666;
}

.tdImgEliminar {
    width: auto;
}

.tdContenidoEliminar {
    width: 100%;
}

.contenidoEliminar {
    width: 350px;
    height: 30px;
}

.rcornersEliminar {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 1100px;
    height: 55%;
    top: 35%;
    left: 15%;
}

.tablas {
    border: 1px solid;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}

.buttonContinuar {
    background-color: #3399ff;
    position: initial;
    margin-left: 80%;
}

.tdFinalizar {
    width: 252px;
}

.buttonFinalizar {
    background-color: #cc1010;
    position: initial;
    margin-left: 45%;
}

.buttonCrear {
    background-color: blueviolet;
    left: 800px;
    top: 68%;
    width: 155px;
}

.title {
    position: absolute;
    top: -20%;
    left: 5%;
}

.rcorners2 {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 450px;
    height: 50px;
    top: 4%;
    left: 20%;
}

scroll-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.colorVis {
    background-color: black;
}

.colorMod {
    background-color: cadetblue;
}

.imgRedonda {
    width: 100px;
    height: 100px;
}

.tablaPdf {
    width: 150px;
    text-align: center;
}

.trContent {
    border: black 5px solid;
}

.tableActas {
    border-collapse: collapse;
}