.rcornersProcCritico {
    position: absolute;
    border-radius: 25px;
    background: azure;
    padding: 20px;
    height: 2000px;
    width: 100%;
    top: 8%;
    left: 0%;
}

.tablaProc {
    text-align: center;
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
    width: 50%;
}

.tablaSeguimiento {
    text-align: center;
    position: absolute;
    width: 100%;
    border-collapse: collapse;
    top: 20%;
}

.tablaAcuerdos {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
    border-collapse: collapse;
}

.tablaCons {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 15%;
    border-collapse: collapse;
}

.divOrden {
    position: absolute;
    top: 15%;
    left: 4%;
    width: 90%;
    height: 20%;
}

.divSeguimiento {
    position: absolute;
    top: 38%;
    left: 4%;
    width: 90%;
    height: 10%;
}

.divAcuerdos {
    position: absolute;
    top: 51%;
    left: 4%;
    width: 90%;
    height: 10%;
}

.divFinal {
    position: absolute;
    top: 65%;
    left: 4%;
    width: 90%;
    text-align: center;
}

.divConstancia {
    position: absolute;
    top: 70%;
    left: 4%;
    width: 90%;
    height: 30%;
}

.contenidoProc {
    width: 180px;
    height: 30px;
}

.tdAct {
    background-color: #cccccc;
    border: 1px solid;
    text-align: center;
}

.contenidoReunion {
    height: 30px;
}

.contenidoPresidente {
    width: 505px;
    height: 30px;
    top: 60%;
    position: absolute;
}

.scroll-containerProc {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 440px;
    top: 0%;
}

.tdResponsable {
    width: 30%;
    border: 1px solid;
}

.textArea {
    height: 150px;
}

.buttonRegresar1 {
    top: 2%;
    left: 90%;
}

.buttonAgregar {
    top: -2%;
    left: 57%;
    background-color: black;
}

.crear {
    background-color: #0bbedd;
    left: 90%;
    top: 5%;
}

.titleMenu {
    position: absolute;
    top: -20%;
    left: 23%;
}

.rcorners2Menu {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 450px;
    height: 50px;
    top: 4%;
    left: 35%;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}

.buttonRegresar1 {
    background-color: #08c211;
    left: 90%;
}

.contenidoBusqueda {
    width: 180px;
    height: 30px;
}

scroll-container {
    display: block;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.textAreaOrden {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    font-size: 18pt;
}

.labelOrden {
    position: absolute;
    top: 0%;
    left: 47%;
}

.labelSeguimiento {
    position: absolute;
    top: 5%;
    left: 40%;
}

.labelAprobacion {
    text-align: center;
    position: absolute;
    top: 10%;
}

.trCabecera {
    height: 10%;
}

.trFinal {
    position: absolute;
    left: 35%;
}

.tdSegui {
    border: 1px solid;
    background-color: darkgrey;
}

.tdAcuerdos {
    border: 1px solid;
    width: 33%;
    background-color: darkgrey;
}

.tdResp {
    border: 1px solid;
    width: 39%;
    background-color: darkgrey;
}

.tdFechas {
    border: 1px solid;
    width: 20px;
    background-color: darkgrey;
}

.tdS {
    border: 1px solid;
}

.txtArea {
    width: 98%;
    height: 150px;
}

.txtAreaObs {
    width: 50%;
    left: 15%;
    top: 60%;
    position: absolute;
}

.labelObs {
    position: absolute;
    top: 70%;
}

.labelAct {
    position: absolute;
    left: 79%;
    top: 3%;
}

.tbody {
    border: 1px solid;
}

.inputAct {
    top: 2.5%;
    position: absolute;
    left: 85%;
    width: 38px;
    height: 30px;
}

.alin {
    text-align: initial;
}