.rcornersLogin {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 510px;
    height: 580px;
    top: 8%;
    left: 27%;
}

body {
    background-color: darkred;
}

.font {
    font-family: "Lucida Console", "Courier New", monospace;
}

.subtitleLogin {
    font-size: 300%;
    margin-left: 50px;
}

.imgLogin {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 5px solid #666;
    position: absolute;
    top: 18%;
    left: 32%
}

.contenidoLogin {
    width: 245px;
    height: 30px;
}

.therror {
    text-align: center;
}

.error {
    font-size: 1.2em;
    color: red;
}

.cuerpoLogin {
    position: absolute;
    top: 57%;
    right: 25%;
}

.buttonLogin {
    top: 550px;
    background-color: #08c211;
    left: 420px;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}