.title {
    position: absolute;
    top: -20%;
    left: 5%;
}

.sub {
    font-size: 140%;
}

.subtitlePer {
    position: absolute;
    font-size: 140%;
    top: 26%;
}

.subtitleAc {
    position: absolute;
    font-size: 140%;
    top: 48.5%;
}

.subtitleGen {
    position: absolute;
    font-size: 140%;
    top: 71%;
}

.rcorners2 {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 450px;
    height: 50px;
    top: 2%;
    left: 20%;
}

.rcorners1 {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: auto;
    height: auto;
    top: 5%;
    left: 5%;
}

.cuerpoAdmin {
    position: absolute;
    top: 57%;
    right: 25%;
}

.contenidoAdmin {
    width: 245px;
    height: 30px;
}

.size {
    height: 120px;
    width: 250px;
}

.fontBut {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.borderAgregarAcademia {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderEliminar {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderEliminarAcademia {
    border-radius: 150px;
    border: 5px solid tomato;
    background: tomato;
}

.borderRegistrar {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderModificar {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderMiPerfil {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderDocumentosPendientes {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderMiembros {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderVerPlanTrabajo {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderVerActas {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderPlanTrabajo {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderAgregarActa {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderEvaluacionProfesor {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderEvaluacionPresidente {
    border-radius: 150px;
    border: 5px solid tomato;
    background: tomato;
}

.btn5 {
    border-radius: 150px;
    border: 5px solid aquamarine;
    background: aquamarine;
}

.borderbtn5 {
    border-radius: 150px;
    border: 5px solid aquamarine;
    background: aquamarine;
}

.ImgSalir {
    width: 80px;
    height: 50px;
    position: absolute;
    left: -2%;
    top: -3%;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}