.title {
    position: absolute;
    top: -20%;
    left: 5%;
}

.font {
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-image: url("BlueBackground.PNG");
    background-color: linen;
}

.subtitleAd {
    position: absolute;
    font-size: 140%;
    top: 2%;
}

.subtitlePer {
    position: absolute;
    font-size: 140%;
    top: 26%;
}

.subtitleAc {
    position: absolute;
    font-size: 140%;
    top: 48.5%;
}

.subtitleGen {
    position: absolute;
    font-size: 140%;
    top: 71%;
}

.rcorners2 {
    position: absolute;
    border-radius: 25px;
    background: goldenrod;
    width: 450px;
    height: 50px;
    top: 2%;
    left: 20%;
}

.rcorners1 {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 1465px;
    height: 790px;
    top: 5%;
    left: 5%;
}

.cuerpoAdmin {
    position: absolute;
    top: 57%;
    right: 25%;
}

.contenidoAdmin {
    width: 245px;
    height: 30px;
}

.size {
    height: 120px;
    width: 250px;
}

.tableInterior {
    position: absolute;
    top: 5%;
    left: -3.2%;
}

.tableInterior2 {
    position: absolute;
    top: 28%;
    left: -3.2%;
}

.tableInterior3 {
    position: absolute;
    top: 50%;
    left: -3.2%;
}

.tableInterior4 {
    position: absolute;
    top: 73%;
    left: -3.2%;
}

.fontBut {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.borderAgregarAcademia {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderEliminar {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderEliminarAcademia {
    border-radius: 150px;
    border: 5px solid tomato;
    background: tomato;
}

.borderRegistrar {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderModificar {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderMiPerfil {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderDocumentosPendientes {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderMiembros {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderVerPlanTrabajo {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderVerActas {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderPlanTrabajo {
    border-radius: 150px;
    border: 5px solid coral;
    background: coral;
}

.borderAgregarActa {
    border-radius: 150px;
    border: 5px goldenrod;
    background: goldenrod;
}

.borderEvaluacionProfesor {
    border-radius: 150px;
    border: 5px solid wheat;
    background: wheat;
}

.borderEvaluacionPresidente {
    border-radius: 150px;
    border: 5px solid tomato;
    background: tomato;
}

.btn5 {
    border-radius: 150px;
    border: 5px solid aquamarine;
    background: aquamarine;
}

.borderbtn5 {
    border-radius: 150px;
    border: 5px solid aquamarine;
    background: aquamarine;
}