.rcornersProcCritico {
    position: absolute;
    border-radius: 25px;
    background: azure;
    padding: 20px;
    height: auto;
    width: 100%;
    top: 8%;
    left: 0%;
}

.tablaProc {
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
    width: 50%;
}

.tablaSeguimiento {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    top: 20%;
    margin-top: 2%;
}

.tablaAcuerdos {
    text-align: center;
    width: 100%;
    top: 1%;
    border-collapse: collapse;
    margin-top: 2%;
}

.tablaCons {
    text-align: center;
    width: 100%;
    top: 25%;
    margin-top: 1%;
    border-collapse: collapse;
}
.tablaCompleta{
    text-align: center;
    width: 100%;
    top: 0%;
    height: 55%;
}

.tablaHrFinal{

    margin-left: 32%;
}



.contenidoProc {
    width: 180px;
    height: 30px;
}

.tdAct {
    background-color: #cccccc;
    border: 1px solid;
    text-align: center;
}

.contenidoReunion {
    height: 30px;
}

.contenidoPresidente {
    width: 505px;
    height: 30px;
    top: 60%;
    position: absolute;
}

.scroll-containerProc {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 440px;
    top: 0%;
}

.tdResponsable {
    width: 30%;
    border: 1px solid;
}

.textArea {
    height: 150px;
}

.buttonRegresar1 {
    top: 2%;
    left: 90%;
}

.buttonAgregar {
    top: -2%;
    left: 57%;
    background-color: black;
}

.crear {
    background-color: #0bbedd;
    left: 90%;
    top: 5%;
}

.titleMenu {
    position: absolute;
    top: -20%;
    left: 23%;
}

.rcorners2Menu {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 450px;
    height: 50px;
    top: 4%;
    left: 35%;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}
.button2 {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 3%;
    border-radius: 12px;
}

.buttonRegresar1 {
    background-color: #08c211;
    left: 90%;
}

.contenidoBusqueda {
    width: 180px;
    height: 30px;
}

scroll-container {
    display: block;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.textAreaOrden {
    width: 95%;
    height: 300px;
    top: 10%;
    font-size: 18pt;

}

.labelOrden {
    top: 0%;
    left: 47%;
}

.labelSeguimiento {
    top: 5%;
    left: 40%;
}

.labelAcuerdos{
    top: -1%;
    left: 40%;
    margin-left: 20%;
}
.labelConstancia{
    top: 21%;
    left: 40%;
}

.labelAprobacion {
    text-align: center;
    top: 23%;
}

.trCabecera {
    height: 10%;
}

.trFinal {
    left: 35%;
}

.tdSegui {
    border: 1px solid;
    background-color: darkgrey;
}

.tdAcuerdos {
    border: 1px solid;
    width: 33%;
    background-color: darkgrey;
}

.tdResp {
    border: 1px solid;
    width: 39%;
    background-color: darkgrey;
}

.tdFechas {
    border: 1px solid;
    width: 20px;
    background-color: darkgrey;
}

.tdS {
    border: 1px solid;
}

.txtArea {
    width: 96%;
    height: 150px;
}

.txtAreaObs {
    width:600px;
    left: 15%;
    top: 38%;
    margin-top: 10%;
}

.labelObs {
    top: 42%;
}

.labelAct {
    left: 79%;
    top: 3%;
    position: absolute;
}

.tbody {
    border: 1px solid;
}

.inputAct {
    top: 2.5%;
    left: 85%;
    width: 38px;
    height: 30px;
    position: absolute;
}

.alin {
    text-align: initial;
}

.remover {
    left: 70%;
    background-color: brown;
}

.trDivisiones{
    width: 100%;
    height: auto;
}

.trSep2{
    
    width: 100%;
    height: 10%;
}
.trSep3{
    top: 66%;
}
.td { 
    padding: 5px 10px;
    text-align: center;
}

.txtArea2{
    font-size: 18pt;
}