.title {
    position: absolute;
    top: -20%;
    left: 5%;
}

.imgRedonda {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 10px solid #666;
    position: absolute;
    left: 65%;
    top: 10%;
}

.rcorners2 {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 450px;
    height: 50px;
    top: 4%;
    left: 20%;
}

.rcorners1 {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 750px;
    height: 580px;
    top: 8%;
    left: 25%;
}

.subtitle {
    position: absolute;
    font-size: 150%;
    top: 5%;
}

.cuerpo {
    position: absolute;
    top: 10%;
}

.contenido {
    width: 145px;
    height: 30px;
}

.error {
    font-size: .75em;
    color: red;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}

.button2 {
    top: 90%;
    background-color: #087ac2;
    left: 500px;
}

.button1 {
    top: 90%;
    background-color: #cc1010;
}

.file {
    position: absolute;
    left: 56%;
    top: 40%;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.button1Eliminar {
    top: 5%;
    background-color: #08c211;
    left: 85%;
}

.subirImg {
    background-color: blueviolet;
    position: absolute;
    left: 72%;
    top: 45%;
}