.rcornersVerificar {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 620px;
    height: 800px;
    top: 8%;
    left: 25%;
}

.rcornersVerificarUser {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 620px;
    height: 300px;
    top: 8%;
    left: 25%;
}

.rcornersVerificar1 {
    position: absolute;
    background: white;
    padding: 20px;
    width: 575px;
    height: 150px;
    top: 5%;
}

.rcornersVerificar2 {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 575px;
    height: 200px;
    top: 32%;
}

.rcornersVerificar3 {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 575px;
    height: 200px;
    top: 65%;
}

.tablaVerImg {
    width: 24%;
    height: 100%;
}

.tablaVerificar1 {
    width: 100%;
    height: 100%;
}

.tablaAcadVerificar {
    height: auto;
    width: 300px;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

.tablaRecientes2 {
    border: 1px solid;
    width: 150px;
    text-align: center;
    border-collapse: collapse;
}

.imgVerificar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 10px solid #666;
}

.imgDocumento {
    width: 120px;
    height: 120px;
}

.tdimgVerificar {
    width: 24%;
    height: 124px;
}

.tdAcademiasVerificar {
    width: 124px;
    height: 100px;
}

.scroll-containerViz {
    position: absolute;
    overflow-x: scroll;
    overflow-y: auto;
    width: 100%;
    height: 225px;
    top: 15%;
}

.scroll-pageViz {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1em;
}

.buttonVerificarImg {
    background-color: #3399ff;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.rcornersTituloVer {
    position: absolute;
    border-radius: 25px;
    background: gray;
    width: 600px;
    height: 50px;
    top: 4%;
    left: 20%;
}

.tr {
    border: black 1px solid;
}

.td {
    border: black 1px solid;
}

.title {
    position: absolute;
    top: -20%;
    left: 5%;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
}

.buttonRegresar1 {
    top: -15%;
    background-color: #08c211;
    left: 530px;
}

.subtitle {
    position: absolute;
    font-size: 150%;
    top: 5%;
}

scroll-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}